variables:
  SERVER_DOCKER_FILE: ./Dockerfile
  SERVER_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  MAIN_BRANCH_PATH: "."
  EPHEMERAL_BRANCHES_PATH: preview # subpath to ephemeral branches content for preview

stages:
  - build
  - test
  - history_copy
  - reports
  - deploy

build-tests-image:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == "pipeline"
      when: never
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
  image: docker:latest
  tags:
    - saas-linux-small-amd64
  services:
    - docker:dind
  script:
    - >
      echo "Docker tag: $SERVER_TAG"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker buildx create --use
    - docker buildx build --build-arg --platform=linux/amd64,linux/arm64/v8 --push -t $SERVER_TAG .

run-tests:
  stage: test
  image: $SERVER_TAG
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - saas-linux-large-amd64
  script: |
    source /root/.local/share/virtualenvs/*/bin/activate
    pytest -n auto --alluredir=allure-results
  allow_failure: true # in case pipeline fails process run
  artifacts:
    when: always
    paths:
      - ./allure-results

history_job:
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        CURRENT_CONTENT_PATH: $EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        CURRENT_CONTENT_PATH: $MAIN_BRANCH_PATH
  cache:
    key: gitlab-pages
    paths: [public]
  stage: history_copy
  tags:
    - saas-linux-small-amd64
  image: storytel/alpine-bash-curl
  script:
    - (cp -v -r ./public/$CURRENT_CONTENT_PATH/history ./allure-results) || true # copy to dir
  allow_failure: true
  artifacts:
    paths:
      - ./allure-results # save
    expire_in: 30 days

allure_job: &allure_job
  stage: reports
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - saas-linux-small-amd64
  image: frankescobar/allure-docker-service:2.17.2
  script:
    - mkdir -p $(pwd)/allure-report
    - allure generate -c allure-results -o allure-report # from allure-results to allure-report
  artifacts:
    paths:
      - ./allure-results
      - ./allure-report
    expire_in: 30 days

pages:
  cache:
    key: gitlab-pages
    paths: [public]
  tags:
    - saas-linux-small-amd64
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        CURRENT_CONTENT_PATH: $EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG
        ENV_NAME: $EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        CURRENT_CONTENT_PATH: $MAIN_BRANCH_PATH
        ENV_NAME: main
  stage: deploy
  script:
    - rm -rf public/$CURRENT_CONTENT_PATH || true
    - mkdir -p public/$CURRENT_CONTENT_PATH
    - mv ./allure-report/* public/$CURRENT_CONTENT_PATH
  environment:
    name: pages/$ENV_NAME
    action: start
    url: $CI_PAGES_URL/$CURRENT_CONTENT_PATH/index.html
    on_stop: pages-clean-preview
  artifacts:
    paths:
      - public

pages-clean-preview:
  stage: deploy
  image: alpine:3.18
  when: manual
  allow_failure: true
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        CURRENT_CONTENT_PATH: $EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        CURRENT_CONTENT_PATH: $MAIN_BRANCH_PATH
  cache:
    key: gitlab-pages
    paths: [public]
  variables:
    GIT_STRATEGY: none # git files not available after branch deletion
    FOLDER_TO_DELETE: $EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG # an indirection to allow arbitrary deletion when launching this job
  script:
    - rm -rf public/$FOLDER_TO_DELETE
  environment:
    name: pages/$CURRENT_CONTENT_PATH
    action: stop
