variables:
  SERVER_DOCKER_FILE: ./Dockerfile
  SERVER_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

stages:
  - build

build-tests-image:
  stage: build
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - Pipfile.lock
        - Dockerfile
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - Pipfile.lock
        - Dockerfile
  image: docker:latest
  tags:
    - saas-linux-small-amd64
  services:
    - docker:dind
  script:
    - >
      echo "Docker tag: $SERVER_TAG"
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker buildx create --use
    - docker buildx build --build-arg --platform=linux/amd64,linux/arm64/v8 --push -t $SERVER_TAG .

