variables:
  SERVER_DOCKER_FILE: "./Dockerfile"
  SERVER_TAG: "$CI_REGISTRY_IMAGE:main"
  EPHEMERAL_BRANCHES_PATH: "preview"
  TEST_PARALLELISM: "4"
  ENV: "staging"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - Pipfile.lock
        - Dockerfile
      variables:
        SERVER_TAG: "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    - when: always

stages:
  - build
  - test
  - history_copy
  - reports
  - deploy

build-tests-image:
  stage: build
  rules:
    - if: $CI_PIPELINE_SOURCE == "pipeline" || $CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "trigger"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - Pipfile.lock
        - Dockerfile
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - Pipfile.lock
        - Dockerfile
  image: docker:latest
  tags:
    - saas-linux-small-amd64
  services:
    - docker:dind
  script:
    - echo "Docker tag: $SERVER_TAG"
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker buildx create --use
    - docker buildx build --platform=linux/amd64,linux/arm64/v8 --push -t "$SERVER_TAG" .

run-tests:
  stage: test
  image: $SERVER_TAG
  resource_group: tests-$ENV
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        ENV: "staging"
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - saas-linux-large-amd64
  script: |
    EXIT=0
    pipenv run ruff check .
    pipenv run ruff format --check .
    pipenv run pytest --dist loadgroup -vv -n $TEST_PARALLELISM -m "not delivered_emails and not prepare_data" --alluredir=allure-results --junitxml=junit.xml || EXIT=$?
    echo "EXIT_CODE=$EXIT" > .exit_code
    exit $EXIT
  allow_failure: true
  environment:
    name: $ENV
  artifacts:
    reports:
      junit: junit.xml
    when: always
    paths:
      - ./allure-results
      - ./junit.xml
      - ./.exit_code

upload_testrail_run:
  stage: deploy
  needs: [run-tests]
  image: $SERVER_TAG
  tags:
    - saas-linux-small-amd64
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  script: |
    if [ ! -z "$TEST_RUN_ID" ]; then
      TEST_RUN_ID="--run-id $TEST_RUN_ID"
    fi
    pipenv run trcli -h https://aironworksqa.testrail.io \
      --project "AironWorks" \
      --username info@aironworks.com \
      --key "$TESTRAIL_API_KEY" \
      parse_junit --case-matcher "property" \
      --title "CI on $ENV $(date)" \
      $TEST_RUN_ID \
      -f "junit.xml"

allure_job:
  stage: reports
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - saas-linux-small-amd64
  image: frankescobar/allure-docker-service:2.17.2
  script:
    - mkdir -p allure-report
    - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - ./allure-results
      - ./allure-report
    expire_in: 30 days

upload_to_s3:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint: [""]
  tags:
    - saas-linux-small-amd64
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        CURRENT_CONTENT_PATH: "$EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG"
        ENV_NAME: "$EPHEMERAL_BRANCHES_PATH/$CI_COMMIT_REF_SLUG"
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        CURRENT_CONTENT_PATH: "$ENV/$CI_PIPELINE_ID"
        ENV_NAME: "$ENV"
  script:
    - aws s3 sync ./allure-report/ s3://aironworks-test-results/playwright/$CURRENT_CONTENT_PATH
  environment:
    name: pages/$ENV_NAME
    action: start

post_test_results:
  stage: deploy
  dependencies:
    - upload_to_s3
    - run-tests
  image: $SERVER_TAG
  tags:
    - saas-linux-small-amd64
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      variables:
        CURRENT_CONTENT_PATH: "$ENV/$CI_PIPELINE_ID"
  script: |
    source .exit_code
    exit 0

set_pipeline_status:
  stage: deploy
  needs:
    - job: run-tests
      artifacts: true
  image: $SERVER_TAG
  tags:
    - saas-linux-small-amd64
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "main"
  script: |
    source .exit_code
    exit $EXIT_CODE
