variables:
  SERVER_DOCKER_FILE: ./Dockerfile
  SERVER_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

stages:
  - build
  - test
  - history_copy
  - reports
  - deploy

# build-tests-image:
#   stage: build
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "pipeline"
#       when: never
#     # run on MR:
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#     # run on main branch
#     - if: $CI_COMMIT_BRANCH == "main"
#   image: docker:latest
#   tags:
#     - saas-linux-small-amd64
#   services:
#     - docker:dind
#   script:
#     - >
#       echo "Docker tag: $SERVER_TAG"
#     - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
#     - docker buildx create --use
#     - docker buildx build --build-arg --platform=linux/amd64,linux/arm64/v8 --push -t $SERVER_TAG .

run-tests:
  stage: test
  image: $SERVER_TAG
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - saas-linux-large-amd64
  script: |
    source /root/.local/share/virtualenvs/*/bin/activate
    pytest -n auto --alluredir=allure-results || true
  allow_failure: true # in case pipeline fails process run
  artifacts:
    when: always
    paths:
      - ./allure-results

.history_job: &history_job
  stage: history_copy
  tags:
    - saas-linux-small-amd64
  image: storytel/alpine-bash-curl
  script:
    - apk add unzip # add unzipgit-g ma
    - (unzip artifacts.zip ) || true
    - (chmod -R 777 public) || true # give permissions
    - (cp -r ./public/history ./allure-results) || true # copy to dir
  allow_failure: true
  artifacts:
    paths:
      - ./allure-results # save
    expire_in: 30 days

history_develop:
  extends: .history_job
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  before_script: |
    REF=$(echo $CI_MERGE_REQUEST_REF_PATH | sed 's/\//%2F/g')
    URL="https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/jobs/artifacts/$REF/download?job=pages&job_token=$CI_JOB_TOKEN"
    echo "downloading from $URL"
    curl --location --output artifacts.zip $URL
  needs:
    - job: run-tests

allure_job: &allure_job
  stage: reports
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
  tags:
    - saas-linux-small-amd64
  image: frankescobar/allure-docker-service:2.17.2
  script:
    - mkdir -p $(pwd)/allure-report
    - allure generate -c allure-results -o allure-report # from allure-results to allure-report
  artifacts:
    paths:
      - ./allure-results
      - ./allure-report
    expire_in: 30 days

pages:
  tags:
    - saas-linux-small-amd64
  rules:
    # run on MR:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    # run on main branch
    - if: $CI_COMMIT_BRANCH == "main"
  stage: deploy
  script:
    - mkdir public
    - mv ./allure-report/* public
  when: manual
  artifacts:
    paths:
      - public
