[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "8.3.3"
faker = "27.0.0"
playwright = "1.47.0"
pytest-playwright = "0.5.2"
python-dotenv = "1.0.1"
pytest-xdist = "3.6.1"
allure-pytest = "2.13.5"
google-auth = "==2.19.1"
locust = "2.27.0"
pyotp = "*"
# remove once finished with the importing test cases to the TestRail
pandas = "2.2.1"
pytz = "2024.1"
openpyxl = "3.1.2"
pygsheets = "2.0.6"
trcli = "*"
pytest-timeout = "*"
pytest-sugar = "*"
ruff = "*"
pre-commit = "*"
boto3 = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
